<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rofaFerme | A Propos</title>
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/css/user.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="./" style="font-size : 250%; font-family: bold; font-weight:  bold">rofaFerme </a>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1"></div>
            </div>
        </nav>
    </header>
    <ul class="nav navbar nav-pills categories">
        <li><a href="./">Accueil</a></li>
        <li><a href="produits">Produits </a></li>
        <li><a href="equipements">Equipements </a></li>
        <li  class="active"><a href="apropos">A Propos</a></li>
    </ul>
    <div class="container post">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">A Propos de rofaFerme</h1>
                <p style="font-size: 120%">
                    rofaFerme est une ferme situé à Lomé au TOGO depuis le 17 Mars 2019; Nous sommes spécialisé
                    dans la production d'oeufs , l'agriculture moderne de mais et de banane, l'élevage des volailles(poules, pintades,canards)
                    l'élevage des bovins(chevres, lapins) Production d'aliments pour les volailles et bovins
                </p>
            </div>
            <div class="col-md-12">
                <h1 class="text-center">Nos Contacts</h1>
                <p style="font-size: 120%; text-align: center">Tél : 92 58 56 68 / 22 52 25 62/ 97 09 37 09 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  E-mail : rofaFerme@ferme.tg &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Site Web : <a href="./">www.rofaFerme.tg</a></p>
            </div>
        </div>
    </div>
    <footer>
        <h5>Binôme N°1(OURO AGORO Fad, DEFLY Akoko Rose) © Esiba 2019</h5></footer>
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>